@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    position: relative;
    display: inline-block;
  }

  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }
}

.post-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.post-content ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.post-content li {
  margin-bottom: 5px;
}
