@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@media (min-width: 1024px) {
		a:not(.btn):not(.footer-icon) {
			position: relative;
			display: inline-block;
		}

		a:not(.btn):not(.footer-icon)::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -2px;
			left: 0;
			background-color: currentColor;
			transform: scaleX(0);
			transform-origin: center;
			transition: transform 0.3s ease-in-out;
		}

		a:not(.btn):not(.footer-icon):hover::after {
			transform: scaleX(1);
		}

		.btn {
			transition: transform 0.2s ease-in-out;
		}

		.btn:hover {
			transform: scale(1.05);
		}

		.footer-icon {
			transition: transform 0.2s ease-in-out;
		}

		.footer-icon:hover {
			transform: scale(1.15);
		}
	}
}

.post-content ul {
	list-style-type: disc;
	padding-left: 20px;
}

.post-content ol {
	list-style-type: decimal;
	padding-left: 20px;
}

.post-content li {
	margin-bottom: 5px;
}

@keyframes slideInFade {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slide-in-fade {
	animation: slideInFade 0.4s ease-out forwards;
}

@keyframes slideInFromRight {
	from {
		opacity: 0;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.animate-slide-in-right {
	opacity: 0;
	animation: slideInFromRight 0.4s ease-out 0.15s forwards;
}

@keyframes slideInFromBottom {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slide-in-bottom {
	opacity: 0;
	animation: slideInFromBottom 0.4s ease-out 0.3s forwards;
}
